/* General Styles */
#contact {
    color: #dee2e6;
    line-height: 1.2;
    margin-top: 10px;
    margin-left: 130px;
}

#contact-sec {
    display: flex;
    align-items: center;
}

.line {
    content: "";
    width: 120px;
    height: 2px;
    background: #dee2e6;
    margin-left: 10px;
}
.container-box{
    display: flex;
    justify-self: center;
    margin-top: 3%;
    width: 420px;
    height: 250px;  
    border-radius: 10px;
    background-color: rgba(4, 20, 43, 0.85);
    transform: scale(1.1);
    /* box-shadow: rgba(106, 5, 146, 0.726) 0px 13px 27px -5px, rgba(228, 49, 49, 0.856) 0px 8px 16px -8px; */
box-shadow: 0 0 30px #640a76;

}
.contact-name{
    font-size: 30px;
    color: #64ffda;
    margin-left: 20px;
    font-family: "Inter, sans-serif";
    /* font-family: ""; */
    
}
#name1{
    font-family: "Inter, sans-serif";
    /* font-family: ; */
    display: flex;
    color: aqua;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
}
#name2{
    font-size: 25px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    color: #dee2e6;   
}
#Email1 a{
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px; 
    justify-content: center;
    align-items: center;
    color: #dee2e6;
    text-decoration: none;
        
}

#Phone1 a{
    font-size: 25px;
    text-decoration: none;
    color: #dee2e6;
    margin-left: 10px;
}
#Location {
    font-size: 25px;
    margin-left: 10px;
    color: #dee2e6;
    margin-top: 1px; 
}
.social-line {
    text-align: center;
    margin-top: 40px;
    color: #64ffda;
    font-size: 23px;
    font-family: "Inter, sans-serif";
}
#social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px; */
}
.social {
  font-size: 55px; 
  color: white;
}
#name2:hover {
    color: #16ff00;
}
#Email1 a:hover {
    color: #16ff00;
}
#Phone1 a:hover {
    color: #16ff00;
}
#Location:hover {
    color: #16ff00;
}
/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .container-box {
        width: 95%;
        margin-top: 45px;
        height: auto;
    }

    #contact-name {
        margin-right: 10px;
        display: inline;
    }

    #name2, #Email1 a, #Phone1 a, #Location {
        font-size: 24px;
        margin: 3px;
        margin-left: 5px; 
        display: inline;
    }
    #social-section {
        margin-top: 20px;
    }
    .social {
        font-size: 5rem; 
        margin: 0 10px;
    }
    .social-line {
        font-size: 2rem;
        margin-top: 3rem;
    }
   #contact {
        margin: 0 auto;
        margin-top: 5px;
        font-size: 14px;
        text-align: left;
    }

    #contact-sec {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
    }

    .line {
        width: 100px;
        height: 2px;
        margin: 5px auto;
        background-color: #dee2e6;
    }
}
