#image, img {
  background-color: transparent;  
  height: 240px;
  width: 240px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;    
}

/* Mobile styles */
@media (max-width: 768px) {
  #image, img {
    margin-top: 4rem;
    height: 200px;
    width: 200px;
  }
  #intro, #intro2 {
    margin-left: 0;
    text-align: center; /* Increased top margin for mobile */
  }
  #intro {
    font-size: 30px;
    margin-top: 1rem;
    /* margin-bottom: 15px; Increased bottom margin for mobile */
  }
  #intro2 {
    font-size: 50px;
    /* margin-bottom: 20px; Increased bottom margin for mobile */
  }
  .container {
    margin-left: 0;
    text-align: center; /* Adjust padding for mobile */
  }
  .container .text {
    /* margin-top: 1rem; */
    /* width: 50px; */
    font-size: 20px;
    /* margin-bottom: 15px; Increased bottom margin for mobile */
  }
  .container .text.first-text {
    /* width: 20px; */
    /* padding-right: 2rem; */
    margin-top: 3rem;
    margin-right: 0;
  }
  .social {
    margin-top: 1.5rem;
    font-size: 40px;
  }
}

/* Other existing styles */
#intro {
  color: #64ffda;
  font-weight: bold;
  font-family: "Righteous";
  text-align: center;
  font-size: 40px;
  margin: 10px auto;
}
#intro2 {
  color: white;
  font-weight: bold;
  font-family: "Playfair Display";
  text-align: center;
  font-size: 70px;
  margin: 5px auto;
}
.container {
  color: white;
  text-align: center;
  padding: 0 15px; /* Padding for larger screens */
}
.container .text {
  position: relative;
  color: #16ff00;
  font-size: 30px;
  font-weight: 600;
  font-family: "Righteous";
  display: inline-block;
}
.container .text.first-text {
  color: white;
  margin-right: 3px;
}
.text.second-text {
  display: inline-block;
  position: relative; /* Ensure it stays in place */
}
.text.second-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #02001e;
  border-left: 2px solid #16ff00;
  animation: animate 3s steps(12) infinite;
}

@keyframes animate {
  40%, 60% {
    left: calc(100% - 2px); /* Adjusted to limit movement */
  }
  100% {
    left: 0;
  }
}
#social-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.social {
  font-size: 60px;
  margin-left: 10px;
  color: white;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
